* {
    box-sizing: border-box;
    font-family: 'Pretendard';
}

body {
    padding-top: 91px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #ffffff;
    padding: 9px 200px;
    border-bottom: 1px solid #dfdfdf;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    box-sizing: border-box;
    padding: 0 16px;
}

.banner-bg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 540px;
    background-color: #cfe5ff;
}

.banner-bg img{
    margin-right:200px;
    width:746px;
    height:340px;
}

.banner-text {
    display:flex;
    height:100%;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    margin-right:100px;
}

.banner-text span {
    font-size: 40px;
    font-weight: 700;
}

.banner-text a {
    background-color: #3692FF;
    padding:16px 124px;
    border-radius: 40px;
    color:#ffffff;
    margin-top:30px;
    cursor: pointer;
    text-decoration: none;
}

.login-btn {
    width: 128px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 12px 23px 12px 23px;
    background-color: #3692ff;
    color: #ffffff;
    cursor: pointer;
}

/* 
.banner-link {
    position: absolute;
    left: 405px;
    top: 384px;
    width: 357px;
    height: 56px;
    border-radius: 40px;
    display: block;
} */

.item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 64px 20px;
}

.item-content .images,
.item-content .left-images {
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: 988px;
    width: 100%;
    min-height: 444px;
    background-color: #fcfcfc;
    border-radius: 8px;
}


.item-content img {
    width: 588px;
    max-width: 100%;
    height: auto;
}

.left-images {
    flex-direction: row-reverse;
}

.left-images .info {
    text-align: right;
}


.info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 370px;
    height: 238px;
}



.info .tag {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #3692ff;
}

.info .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #374151;
}

.info .desc {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.left-images .info {
    text-align: right;
}

.ft-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;
    padding: 64px 20px;
    background-color: #cfe5ff;
}
.footer-img {
    display:flex;
    align-items:center;
    gap: 64px;
}

.ft-bg img {
    width: 746px;
    max-width: 100%;
    height: auto;
}

.footer-text {
  display:flex;
  flex-direction: column;
  gap: 12px;
}

.footer-text span {
    font-size: 40px;
    font-weight: 700;
}

.ft-shoutout {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 160px;
    ;
    padding: 32px 200px;
    background-color: #111827;
}

.ft-shoutout .one,
.ft-shoutout .two {
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}

.ft-shoutout .two {
    display: flex;
    gap: 30px;
}

.ft-shoutout .two a {
    text-decoration: none;
    color: #E5E7EB;
}


.ft-shoutout .third {
    display: flex;
    gap: 12px;
}